$main-btn-bg: linear-gradient(to right, #FF9966, #FF6666) !default;

$mainBtnLightColor: #FF9966;
$mainBtnColor: #FF6666;
$mainBtnFontSize: 1.1rem;

$h2FontSize: 1.5rem;
$h3FontSize: 1.2rem;

$sectionMarginSize: 5rem;
