@import './base.scss';
@import './variables.scss';

.landing-page {
  h1, h2, h3, section, p {
    text-align: center;
  }

  .description p {
    text-align: left;
  }

  h2 {
    font-size: $h2FontSize;
  }

  h3 {
    font-size: $h3FontSize;
  }

  @mixin main-font {
    color: #333;
    font-family: serif;
  }

  h1, span.feauture {
    @include main-font;
  }

  p {
    @include main-font;
    font-size: 1rem;

    width: 86%;
    margin: 1rem auto;
  }

  .center-align-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
