.commercial-transactions {
  color: #333;
  font-family: serif;
  width: 86%;
  margin: 45px auto;
}

.transactions-info {
  margin-top: 12px;
  th {
    padding: 4px 0;
    text-align: left;
  }
  td {
    padding: 4px 0 4px 16px;
  }
}