.privacy-policy {
  color: #333;
  font-family: serif;
  width: 86%;
  margin: 45px auto;
}

.article {
  ol {
      list-style-type: decimal
  }
}

.article-title {
  margin-top: 12px;
  font-weight: 700;
}
