.page {
  max-width: 1000px;
  margin: 20px 5% 0 5%;
}
.header h1 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.header__aside {
  position: absolute;
  right: 5%;
  top: 105px;
}
.header__aside button {
  color: white;
  background-color: #147454;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 15px;
  border: none;
  outline: none;
}
