/node_modules
/public/fonts/
/public/hot
/public/storage
/public/js/*.js
/public/css/*.css
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.php_cs.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
hooks/